/*
 * Import skeleton.
 */

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    font-size: 16px;
    height: 100vh;
    main {
        header {
            background-color: #f1f1f1;
            padding: 1px;
            text-align: center;
        }
        div {
          &.main-container {
              height: -webkit-fill-available;
              display: flex;
              flex-wrap: nowrap;
          }
        }
        aside {
            background: #444242;
            padding: 0;
            margin: 0;
            vertical-align: top;
            flex-shrink: 3;
            display: flex;
            flex-direction: column;
            &.settings-bar {
                a {
                    &.highlight {
                        background: #4442C1;
                    }
                    i {
                        padding: 15px;
                        color: white;
                    }
                }
            }
        }
        section {
            &.workspace {
                display: flex;
                flex-wrap: nowrap;
                width: 100%;
                .settings-expand-bar {
                    background: #1d1c1c;
                    color: #1f0e0e;
                    flex-grow: 1;
                    max-width: 50%;
                    position: relative;
                    .item {
                        min-width: 100%;
                        height: 100%;
                        position: absolute;
                        overflow: auto;
                        box-shadow: inset 5px 5px 10px 0px rgba(0, 0, 0, 0.4);
                        transition: all 0.5s ease-in-out;
                        width: 100%;
                    }
                    /* TODO: Rename this when changing the id in html. */
                    #editor {
                        background: #e7e7e7;
                    }
                    /* TODO: Rename this when changing the id in html. */
                    #two {
                        background: #f35e5e;
                        z-index: 10;
                    }
                    /* TODO: Rename this when changing the id in html. */
                    #three {
                        background: #f5e946;
                    }
                    /* TODO: Rename this when changing the id in html. */
                    #four {
                        background: #4dfd5c;
                    }
                    /* TODO: Rename this when changing the id in html. */
                    #five {
                        background: #4fb0ff;
                    }
                    /* TODO: Rename this when changing the id in html. */
                    #six {
                        background: #eb3bbf;
                    }
                }
                .canvas {
                    background: #494747;
                    flex-grow: 2;
                    max-width: 50%;
                    #k8scanvas {
                        height: 100%;
                        position: relative;
                        background: #6aa6aa !important;
                        overflow: auto;
                        box-shadow: inset 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
                        transition: all 0.5s ease-in-out;
                        nav {
                            &#tabHeader {
                                height: 28px;
                                display: flex;
                                align-items: center;
                                div {
                                    text-decoration: none;
                                    color: white;
                                    &.tab-item,
                                    &.new-tab-item {
                                        padding: 5px;
                                        cursor: pointer;
                                    }
                                    &.active {
                                        background-color: #505050;
                                    }
                                    a.close {
                                        z-index: 999;
                                        padding-top: 10px;
                                        padding-bottom: 10px;
                                        padding-right: 5px;
                                    }
                                }
                            }
                        }
                        .tab {
                            position: absolute;
                            width: 100%;
                            background-color: #505050;
                            min-height: 100%;
                            padding: 10px;
                            &.active {
                                z-index: 999 !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

